.header {
  &__container {

    min-height: 100px;
    min-width: 250px;
    @include flex(space-between, center);
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;

    @media (max-width: 768px) {
      justify-content: center;
    }

  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    flex: 1 1 auto;


    @media (max-width: 768px) {
      min-width: 100%;
      justify-content: center;
    }

    @media(max-width: 1024px) {
      flex: 2;
    }
  }

  .logo-text {
    text-align: center;

    @media (max-width: 480px) {
      width: 200px;
      font-size: 24px;
    }
  }
}

.logo-img {
  width: 54px;
  height: 57px;

  @media (max-width: 480px) {
    width: 35px;
    height: 37px;
  }
}

.logo-text {
  @include text-prop-lato(700, 36px, 42px, $primary-color);
}