$main-color:#1f8ca7;
$primary-color: #00579b;
$input-bg-color: #d6eaf5;
$input-ph-color:#83b3cb;
$light-color: #ffffff;
$label-color: #dc2663;


$lg-color:#ffffff;
$bg-color: #7FA7AA;
$text-color: #003736;
$dark-text-color: #021016;
$light-text-color: #10464E;
